
<div class="container">
    <h1>Listado de incidencias</h1>
    <br>
    
      
   
      
    
      <div class="card">
        <div class="card-body">
          <table>
            <tr>
              <th class="descripcionTd" scope="col">Identificador</th>
              <th class="estadoTd" scope="col">Email</th>
              <th class="fechaTd" scope="col">Roles</th>
              <th scope="col">Actualizar estado</th>
            </tr> <br>
  
          <tr *ngFor="let usuario of Usuarios">
            <td class="descripcionTd">{{usuario.id}}</td>
            <td class="descripcionTd">{{usuario.email}}</td>
            <td class="estadoTd">{{usuario.roles}}</td>
            <td>
              <button routerLink="/usersEdit/{{usuario.id}}" class="btn btn-outline-secondary">Actualizar estado</button>
            </td>
          </tr>
        </table>
        </div>
      </div>
      
   
     
    
    
  
  </div>